:root {
    --main-color: #509138;
    --dark-shades: #2F3039;
    --dark-accent: #887248;
    --bright-accent: #7EA84A;
    --text-highlight: #FFF;
}

* {
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
    text-decoration: none;
}

#container {
    min-height: 100%;
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1455px;
    overflow: hidden;
}

#header {
    background-color: var(--dark-shades);
    padding: 0;
    border: 0;
}

#main {
    padding: 10px;
    padding-bottom: 30px;
    background-color: var(--main-color);
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-left: 3%;
    top: 100%;
    background-color: var(--dark-shades);
    color: var(--bright-accent);
    text-align: left;
}

#landing-image {
    width: 100%;
    padding: 5%;
}

#background {
    padding: 0 0 64px 0;
}

h1, p {
    color: var(--bright-accent);
    text-align: center;
}

p, footer {
    font-size: small;
    height: 100%;
}

body {
    background-color: var(--dark-shades);
}

br.clear {
    clear: both;
}

/* Navigation Bar */

nav {
    width: 100%;
}

nav ul li {
    padding: 10px;
    display: block;
    float: left;
    background: var(--dark-shades);
}

nav a {
    color: var(--text-highlight);
}

nav li.active {
    background-color: var(--main-color);
}

#main p {
    color: black;
}

/* Main Body Links */

#main li {
    font-size: 150%;
    text-decoration: bold;
    display: block;
}

/* Card Image Styling */

.card-box, .single-card {
    width: 100%;
}

.card-box::after, .single-card::after {
    content: "";
    clear: both;
    display: table;
    
}

.card-box h3 {
    text-decoration: underline;
    padding: 0;
    margin: 0;
    margin-bottom: -1.0em;
    padding-left: 0.5em;
}

.card-box .card {
    width: 50%;
    height: auto;
    float: left;
    margin: 0;
    padding: 0;
}

.card-box .card img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.single-card h3 {
    text-decoration: underline;
    padding: 0;
    margin: 0;
    padding-left: 0.5em
}

.card-box p, .single-card p {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    color: black;
}

.single-card .card img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

figure {
    float: left;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
}


